In [3]:
import pandas as pd

In [4]:
import numpy as np

In [3]:
df=pd.DataFrame({'a':[1,2,np.nan], 'b':[1,2,np.nan]})

In [4]:
df

     a    b
0  1.0  1.0
1  2.0  2.0
2  NaN  NaN

In [5]:
df.a==df.b

0     True
1     True
2    False
dtype: bool

In [6]:
np.nan=np.nan

In [7]:
df.a.equals(df.b)

True

In [8]:
df_new=df.copy()

In [9]:
df_new.equals(df)

True

Check for Equality

In [10]:

df=pd.DataFrame({'c':[1,2,3],'d':[1.0,2.0,3.0],'e':[1.0,2.0,3.000005]})

In [11]:
df

   c    d         e
0  1  1.0  1.000000
1  2  2.0  2.000000
2  3  3.0  3.000005

In [12]:
df.c.equals(df.d)

False

In [13]:
pd.testing.assert_series_equal(df.c,df.d,check_names=False,check_dtype=False)

In [14]:
pd.testing.assert_series_equal(df.d,df.e,check_names=False,check_exact=False)

In [15]:
df_new=df.copy()

In [16]:
pd.testing.assert_frame_equal(df,df_new)

Use Numpy without importing Numpy

In [17]:
np.random.seed(0)

In [18]:
pd.DataFrame(pd.np.random.rand(2,4))

<ipython-input-18-9e7193b3a50b>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  pd.DataFrame(pd.np.random.rand(2,4))

          0         1         2         3
0  0.548814  0.715189  0.602763  0.544883
1  0.423655  0.645894  0.437587  0.891773

In [19]:
pd.np.random.seed(0)

<ipython-input-19-db913242ab88>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  pd.np.random.seed(0)

In [20]:
pd.DataFrame(pd.np.random.rand(2,4))

<ipython-input-20-9e7193b3a50b>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  pd.DataFrame(pd.np.random.rand(2,4))

          0         1         2         3
0  0.548814  0.715189  0.602763  0.544883
1  0.423655  0.645894  0.437587  0.891773

In [21]:
df.loc[0,'e']=pd.np.nan

<ipython-input-21-ace29aee7f89>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df.loc[0,'e']=pd.np.nan

In [22]:
df

   c    d         e
0  1  1.0       NaN
1  2  2.0  2.000000
2  3  3.0  3.000005

Calculate Memory Usage

In [34]:
ufo.head()

NameError: ignored

In [80]:
ufo = pd.read_csv('http://bit.ly/uforeports', parse_dates=['Time'])

In [36]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [38]:
ufo.memory_usage(deep=True)

Index                  128
City               1205618
Colors Reported     671313
Shape Reported     1065230
State              1076219
Time                145928
dtype: int64

In [39]:
ufo['Colors Reported'].value_counts()

RED                       780
GREEN                     531
ORANGE                    528
BLUE                      450
YELLOW                    169
RED GREEN                  89
RED BLUE                   78
RED ORANGE                 44
GREEN BLUE                 34
RED GREEN BLUE             33
ORANGE YELLOW              26
RED YELLOW                 25
ORANGE GREEN               23
YELLOW GREEN               17
ORANGE BLUE                10
RED YELLOW GREEN            9
YELLOW BLUE                 6
YELLOW GREEN BLUE           5
ORANGE GREEN BLUE           5
RED YELLOW GREEN BLUE       4
RED ORANGE YELLOW           4
RED YELLOW BLUE             3
RED ORANGE GREEN            3
RED ORANGE BLUE             3
RED ORANGE YELLOW BLUE      1
ORANGE YELLOW GREEN         1
ORANGE YELLOW BLUE          1
Name: Colors Reported, dtype: int64

In [40]:
(ufo['Colors Reported'].str.count(' ')+1).value_counts()

1.0    2458
2.0     352
3.0      67
4.0       5
Name: Colors Reported, dtype: int64

In [41]:
convert one set of values to another

SyntaxError: ignored

In [18]:

titanic = pd.read_csv('http://bit.ly/kaggletrain')

In [43]:
titanic.Sex.head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [44]:
titanic['Sex_num']=titanic.Sex.map({'male':0, 'female':1})

In [45]:
titanic.Sex_num.head()

0    0
1    1
2    1
3    1
4    0
Name: Sex_num, dtype: int64

In [46]:
titanic.Embarked.head(10)

0    S
1    C
2    S
3    S
4    S
5    Q
6    S
7    S
8    S
9    C
Name: Embarked, dtype: object

In [47]:
titanic ['Embarked_num']=titanic.Embarked.factorize()[0]
titanic.Embarked_num.head(10)

0    0
1    1
2    0
3    0
4    0
5    2
6    0
7    0
8    0
9    1
Name: Embarked_num, dtype: int64

In [48]:
titanic.Embarked.factorize()[1]

Index(['S', 'C', 'Q'], dtype='object')

In [49]:
Create a cross tabule

SyntaxError: ignored

In [50]:
titanic.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [51]:
pd.crosstab(titanic.Sex, titanic.Pclass)

Pclass    1    2    3
Sex
female   94   76  144
male    122  108  347

In [24]:
pd.crosstab(titanic.Sex, titanic.Pclass, margins=True)

Pclass    1    2    3  All
Sex
female   94   76  144  314
male    122  108  347  577
All     216  184  491  891

In [25]:
titanic.pivot_table(index='Sex', columns='Pclass', values='Survived',aggfunc='count', margins=True)

Pclass    1    2    3  All
Sex
female   94   76  144  314
male    122  108  347  577
All     216  184  491  891

Create a column from multiple column

In [12]:
df=pd.DataFrame([[12,25,2019,'chrismas'],[11,28,2019,'thanksgiving']], columns=['month','day','year','holiday'])

In [13]:
df

   month  day  year       holiday
0     12   25  2019      chrismas
1     11   28  2019  thanksgiving

In [14]:
df['date']=pd.to_datetime(df[['month','day','year']])

In [15]:
df

   month  day  year       holiday       date
0     12   25  2019      chrismas 2019-12-25
1     11   28  2019  thanksgiving 2019-11-28

In [29]:
df.dtypes

month               int64
day                 int64
year                int64
holiday            object
date       datetime64[ns]
dtype: object

In [16]:
pd.crosstab(titanic.Sex, titanic.Pclass, margins=True)

NameError: ignored

In [17]:
titanic.pivot_table(index='Sex', columns='Pclass',values='Survived',aggfunc='count',margins=True)

NameError: ignored

In [9]:
df=pd.DataFrame([[12,25,2022,'Chrismas'],[13,14,2023,'ThanksGiving']],columns=['month','day','year','holiday'])

In [10]:
df

   month  day  year       holiday
0     12   25  2022      Chrismas
1     13   14  2023  ThanksGiving

In [31]:
df['date']=pd.to_datetime(df[['month','day','year']])

In [32]:
df

   month  day  year       holiday       date
0     12   25  2019      chrismas 2019-12-25
1     11   28  2019  thanksgiving 2019-11-28

In [20]:
stocks = pd.read_csv('http://bit.ly/smallstocks', parse_dates=['Date'])

In [21]:
stocks

        Date   Close    Volume Symbol
0 2016-10-03   31.50  14070500   CSCO
1 2016-10-03  112.52  21701800   AAPL
2 2016-10-03   57.42  19189500   MSFT
3 2016-10-04  113.00  29736800   AAPL
4 2016-10-04   57.24  20085900   MSFT
5 2016-10-04   31.35  18460400   CSCO
6 2016-10-05   57.64  16726400   MSFT
7 2016-10-05   31.59  11808600   CSCO
8 2016-10-05  113.05  21453100   AAPL

In [22]:
stocks.resample('D', on='Date').Close.mean()

Date
2016-10-03    67.146667
2016-10-04    67.196667
2016-10-05    67.426667
Freq: D, Name: Close, dtype: float64

In [26]:
ufo=ufo.set_index('Time')

NameError: ignored

In [75]:
ufo.head()

                                     City Colors Reported Shape Reported State
Time
1930-06-01 22:00:00                Ithaca             NaN       TRIANGLE    NY
1930-06-30 20:00:00           Willingboro             NaN          OTHER    NJ
1931-02-15 14:00:00               Holyoke             NaN           OVAL    CO
1931-06-01 13:00:00               Abilene             NaN           DISK    KS
1933-04-18 19:00:00  New York Worlds Fair             NaN          LIGHT    NY

Read and write from compressed files

In [82]:
cv=ufo.to_csv('ufo.csv.zip')

In [3]:
df=pd.DataFrame({'a':[100,120,130, np.nan,140],'b':[9,9,np.nan,7.5,6.5]})

NameError: ignored

In [28]:
df.index=pd.to_datetime(['2019-01','2019-02','2019-03','2019-04','2019-05'])

ValueError: ignored

In [91]:
df

                a    b
2019-01-01  100.0  9.0
2019-02-01  120.0  9.0
2019-03-01  130.0  NaN
2019-04-01    NaN  7.5
2019-05-01  140.0  6.5

In [92]:
df.interpolate()

                a     b
2019-01-01  100.0  9.00
2019-02-01  120.0  9.00
2019-03-01  130.0  8.25
2019-04-01  135.0  7.50
2019-05-01  140.0  6.50

Check for duplicate merge key

In [34]:
left=pd.DataFrame({'color':['green','yellow','red'],'num':[1,2,3]})

In [35]:
left

    color  num
0   green    1
1  yellow    2
2     red    3

In [36]:
right=pd.DataFrame({'color':['green','yellow','pink'],
                    'size':['S','M','L']})

In [37]:
right

    color size
0   green    S
1  yellow    M
2    pink    L

In [38]:
pd.merge(left,right,how='inner',validate='one_to_many')

    color  num size
0   green    1    S
1  yellow    2    M

In [39]:
pd.merge(left,right,how='inner',validate='many_to_one')

    color  num size
0   green    1    S
1  yellow    2    M

In [40]:
df=pd.DataFrame(np.random.rand(200,25), columns=list('ABCDEFGHIJKLMNOPQRSTUVWXY'))

In [41]:
df.head()

,A,B,C,D,E,F,G,H,I,J,...,P,Q,R,S,T,U,V,W,X,Y
0,0.905252,0.319113,0.518886,0.630201,0.178127,0.819457,0.676193,0.360119,0.497430,0.534124,...,0.540193,0.014169,0.647724,0.018661,0.241287,0.015307,0.356898,0.432172,0.440144,0.087846
1,0.973738,0.390583,0.173482,0.528216,0.849514,0.032601,0.533279,0.774123,0.357648,0.107019,...,0.062210,0.482128,0.745152,0.801591,0.473957,0.211974,0.660895,0.446171,0.320302,0.116850
2,0.812227,0.069050,0.216892,0.798640,0.263563,0.065822,0.974608,0.171047,0.258838,0.995655,...,0.332472,0.393808,0.847678,0.612753,0.021243,0.749157,0.312288,0.554095,0.500899,0.149894
3,0.561192,0.765490,0.080045,0.085783,0.470411,0.569524,0.186452,0.749081,0.308391,0.255117,...,0.790943,0.905077,0.330715,0.382079,0.163143,0.719913,0.101465,0.719919,0.648376,0.400868
4,0.326452,0.106295,0.878185,0.808264,0.023026,0.267712,0.997940,0.356576,0.785711,0.333135,...,0.743095,0.046710,0.153960,0.188329,0.533252,0.228746,0.621827,0.862708,0.646970,0.021739

In [105]:
df.head()

,A,B,C,D,E,F,G,H,I,J,...,P,Q,R,S,T,U,V,W,X,Y
0,0.963663,0.383442,0.791725,0.528895,0.568045,0.925597,0.071036,0.087129,0.020218,0.832620,...,0.780529,0.118274,0.639921,0.143353,0.944669,0.521848,0.414662,0.264556,0.774234,0.456150
1,0.568434,0.018790,0.617635,0.612096,0.616934,0.943748,0.681820,0.359508,0.437032,0.697631,...,0.315428,0.363711,0.570197,0.438602,0.988374,0.102045,0.208877,0.161310,0.653108,0.253292
2,0.466311,0.244426,0.158970,0.110375,0.656330,0.138183,0.196582,0.368725,0.820993,0.097101,...,0.604846,0.739264,0.039188,0.282807,0.120197,0.296140,0.118728,0.317983,0.414263,0.064147
3,0.692472,0.566601,0.265389,0.523248,0.093941,0.575946,0.929296,0.318569,0.667410,0.131798,...,0.828940,0.004695,0.677817,0.270008,0.735194,0.962189,0.248753,0.576157,0.592042,0.572252
4,0.223082,0.952749,0.447125,0.846409,0.699479,0.297437,0.813798,0.396506,0.881103,0.581273,...,0.643990,0.423855,0.606393,0.019193,0.301575,0.660174,0.290078,0.618015,0.428769,0.135474

In [106]:
df.head().T

          0         1         2         3         4
A  0.963663  0.568434  0.466311  0.692472  0.223082
B  0.383442  0.018790  0.244426  0.566601  0.952749
C  0.791725  0.617635  0.158970  0.265389  0.447125
D  0.528895  0.612096  0.110375  0.523248  0.846409
E  0.568045  0.616934  0.656330  0.093941  0.699479
F  0.925597  0.943748  0.138183  0.575946  0.297437
G  0.071036  0.681820  0.196582  0.929296  0.813798
H  0.087129  0.359508  0.368725  0.318569  0.396506
I  0.020218  0.437032  0.820993  0.667410  0.881103
J  0.832620  0.697631  0.097101  0.131798  0.581273
K  0.778157  0.060225  0.837945  0.716327  0.881735
L  0.870012  0.666767  0.096098  0.289406  0.692532
M  0.978618  0.670638  0.976459  0.183191  0.725254
N  0.799159  0.210383  0.468651  0.586513  0.501324
O  0.461479  0.128926  0.976761  0.020108  0.956084
P  0.780529  0.315428  0.604846  0.828940  0.643990
Q  0.118274  0.363711  0.739264  0.004695  0.423855
R  0.639921  0.570197  0.039188  0.677817  0.606393
S  0.143353  0.438602  0.282807  0.270008  0.019193
T  0.944669  0.988374  0.120197  0.735194  0.301575
U  0.521848  0.102045  0.296140  0.962189  0.660174
V  0.414662  0.208877  0.118728  0.248753  0.290078
W  0.264556  0.161310  0.317983  0.576157  0.618015
X  0.774234  0.653108  0.414263  0.592042  0.428769
Y  0.456150  0.253292  0.064147  0.572252  0.135474

In [107]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A  200.0  0.492993  0.297821  0.000367  0.232334  0.473208  0.752013  0.995733
B  200.0  0.511242  0.296146  0.004655  0.244792  0.502961  0.778799  0.995713
C  200.0  0.493275  0.265398  0.003866  0.271378  0.507585  0.699023  0.993405
D  200.0  0.510597  0.279209  0.005206  0.273734  0.539189  0.736733  0.999949
E  200.0  0.488265  0.286736  0.003710  0.264644  0.469948  0.729416  0.992820
F  200.0  0.486180  0.300410  0.011355  0.248337  0.455500  0.751475  0.999931
G  200.0  0.487767  0.285290  0.018173  0.219824  0.496847  0.743175  0.980979
H  200.0  0.469514  0.288366  0.002703  0.217834  0.439801  0.712790  0.985155
I  200.0  0.475042  0.284267  0.001962  0.229787  0.455727  0.710170  0.996100
J  200.0  0.486357  0.292939  0.003860  0.242252  0.451637  0.734957  0.983426
K  200.0  0.526301  0.297170  0.005495  0.255519  0.559120  0.798100  0.994496
L  200.0  0.508508  0.284417  0.005939  0.275634  0.503145  0.741509  0.999278
M  200.0  0.531511  0.283377  0.000664  0.312775  0.548991  0.765784  0.997962
N  200.0  0.492445  0.283717  0.000546  0.253779  0.477410  0.725116  0.990345
O  200.0  0.496102  0.289496  0.009060  0.259039  0.468176  0.725585  0.995830
P  200.0  0.515763  0.302013  0.004475  0.247396  0.504664  0.806546  0.997354
Q  200.0  0.499350  0.296964  0.000903  0.249951  0.524557  0.747713  0.999964
R  200.0  0.506541  0.283706  0.008187  0.258631  0.480919  0.786813  0.997994
S  200.0  0.509491  0.292244  0.006238  0.276656  0.500628  0.745958  0.998355
T  200.0  0.489958  0.276607  0.005052  0.273893  0.469294  0.733976  0.998023
U  200.0  0.502008  0.295426  0.005510  0.252521  0.513378  0.749146  0.997858
V  200.0  0.533049  0.298239  0.002084  0.274829  0.553971  0.806714  0.997046
W  200.0  0.461300  0.294328  0.000074  0.187038  0.429369  0.709391  0.975735
X  200.0  0.470272  0.291905  0.000072  0.219438  0.453254  0.717279  0.995813
Y  200.0  0.468069  0.284750  0.001383  0.244620  0.436273  0.706354  0.998199

In [ ]:
Create an Example DataFrame (alternative)

In [108]:
pd.DataFrame({'col one' :[100, 200], 'col two':[300, 400]})

   col one  col two
0      100      300
1      200      400

In [110]:
pd.DataFrame(np.random.rand(4,8),columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,0.097749,0.547077,0.158919,0.119014,0.113100,0.911025,0.598087,0.250159
1,0.071449,0.536181,0.144803,0.778403,0.496110,0.726449,0.395727,0.702323
2,0.684614,0.561416,0.845740,0.582474,0.578110,0.307983,0.931506,0.517140
3,0.391715,0.541642,0.145242,0.265125,0.306682,0.515159,0.695511,0.287202

In [112]:
pd.util.testing.makeMissingDataframe().head()

                   A         B         C         D
OiLGbPeUrC  1.854879  0.114253  0.557525  1.026447
7FrKaTtzDh -0.452284  1.371296       NaN  0.336894
AgF7TdebmZ -0.361706  0.222510 -0.958016  0.324785
iHH3DDwzD4  0.471112 -0.570206  2.193832       NaN
dQBO0SnASy  0.443854  0.352387 -0.300780 -0.067685

In [113]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03  0.512893  0.531854  1.376022  2.355095
2000-01-04 -0.140176  0.083149 -1.693771  0.546227
2000-01-05  1.138701 -0.737305  0.859640 -1.217833
2000-01-06  0.008127 -1.501492 -0.533113  1.616122
2000-01-07 -0.302471 -1.927010 -0.112837  0.951803

In [114]:
pd.util.testing.makeMixedDataFrame()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [115]:
[x for x in dir(pd.util.testing) if x.startswith('make')]

['makeBoolIndex',
 'makeCategoricalIndex',
 'makeCustomDataframe',
 'makeCustomIndex',
 'makeDataFrame',
 'makeDateIndex',
 'makeFloatIndex',
 'makeFloatSeries',
 'makeIntIndex',
 'makeIntervalIndex',
 'makeMissingDataframe',
 'makeMixedDataFrame',
 'makeMultiIndex',
 'makeNumericIndex',
 'makeObjectSeries',
 'makePeriodFrame',
 'makePeriodIndex',
 'makePeriodSeries',
 'makeRangeIndex',
 'makeStringIndex',
 'makeStringSeries',
 'makeTimeDataFrame',
 'makeTimeSeries',
 'makeTimedeltaIndex',
 'makeUIntIndex',
 'makeUnicodeIndex']

In [42]:
df1=pd.util.testing.makeMixedDataFrame()

/usr/local/lib/python3.8/dist-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

In [117]:
df1

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [43]:
df2=df1.drop([2,3],axis='rows')

In [44]:
df2

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
4  4.0  0.0  foo5 2009-01-07

In [45]:
df3=pd.merge(df1,df2,how='left', indicator=True)

In [48]:
df3[df3._merge =='left_only']

     A    B     C          D     _merge
2  2.0  0.0  foo3 2009-01-05  left_only
3  3.0  1.0  foo4 2009-01-06  left_only

use query to avoid intermidiate  variable

In [50]:
stocks.query("Symbol =='AAPL'")

        Date   Close    Volume Symbol
1 2016-10-03  112.52  21701800   AAPL
3 2016-10-04  113.00  29736800   AAPL
8 2016-10-05  113.05  21453100   AAPL

In [52]:
stocks.groupby('Symbol').mean()

             Close        Volume
Symbol
AAPL    112.856667  2.429723e+07
CSCO     31.480000  1.477983e+07
MSFT     57.433333  1.866727e+07

In [53]:
temp=stocks.groupby('Symbol').mean()

In [54]:
temp[temp.Close<100]

            Close        Volume
Symbol
CSCO    31.480000  1.477983e+07
MSFT    57.433333  1.866727e+07

In [57]:
temp=stocks.groupby('Symbol').mean().query('Close<100')

In [59]:
temp

            Close        Volume
Symbol
CSCO    31.480000  1.477983e+07
MSFT    57.433333  1.866727e+07

Reshape a DataFrame from wideformat to long format

In [62]:
distances=pd.DataFrame([['12345', 100, 200, 300],['34567',400,500,600], ['67890', 700, 800, 900]], columns=['zip', 'factory','warehouse','retail'])

In [63]:
distances

     zip  factory  warehouse  retail
0  12345      100        200     300
1  34567      400        500     600
2  67890      700        800     900

In [64]:
users=pd.DataFrame([[1,'12345','factory'],[2,'34567','warehouse']], columns=['user_id','zip','location_type'])

In [65]:
users

   user_id    zip location_type
0        1  12345       factory
1        2  34567     warehouse

In [68]:
distances_long=distances.melt(id_vars='zip', var_name='location_type',value_name='distance')

In [69]:
distances_long

     zip location_type  distance
0  12345       factory       100
1  34567       factory       400
2  67890       factory       700
3  12345     warehouse       200
4  34567     warehouse       500
5  67890     warehouse       800
6  12345        retail       300
7  34567        retail       600
8  67890        retail       900

In [5]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [10]:
drinks.loc[::-1].head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
192,Zimbabwe,64,18,4,4.7,Africa
191,Zambia,32,19,4,2.5,Africa
190,Yemen,6,0,0,0.1,Asia
189,Vietnam,111,2,1,2.0,Asia
188,Venezuela,333,100,3,7.7,South America

In [11]:
drinks[reversed(drinks.columns)].head()

,continent,total_litres_of_pure_alcohol,wine_servings,spirit_servings,beer_servings,country
0,Asia,0.0,0,0,0,Afghanistan
1,Europe,4.9,54,132,89,Albania
2,Africa,0.7,14,0,25,Algeria
3,Europe,12.4,312,138,245,Andorra
4,Africa,5.9,45,57,217,Angola